/* usercss */

/* id:[58032]
   lm:[2016-03-02 14:53:47] */
P.p58032 {
  font-family:arial, helvetica, sans-serif;font-size:12px;color:#000000;background-color:transparent;<pre class="code"><code>img {    max-width:100%;
}
/* id:[60918]
   lm:[2015-08-17 15:04:43] */
P.p60918 {
  font-family:arial, helvetica, sans-serif;font-size:12px;color:#000000;background-color:transparent;
}

